@font-face {
    font-family: 'Comforta-Bold';
    src: url('../fonts/Comfortaa/Comfortaa-Bold.ttf');
}
@font-face {
    font-family: 'Comforta-Regular';
    src: url('../fonts/Comfortaa/Comfortaa-Regular.ttf');
}
@font-face {
    font-family: 'Mostserrat-Bold';
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
}
@font-face {
    font-family: 'Mostserrat-Regular';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}