@media(max-width: 1440px) {
    .main__videoblock_video {
        width: 100%;
    }
}

@media(max-width: 1110px) {
    .header__nav-content, .footer, .main__videoblock_content {
        padding-left: 15px;
        padding-right: 15px;
    }
    .header__content_info {
        padding-left: 15px;
    }
    .main__title {
        margin-right: auto;
        margin-left: auto;
    }
    .main__films_items, .main__collections_cards {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .main__film_item:nth-of-type(4), .main__collection_card:nth-of-type(3) {
        margin-top: 15px;
    }
}
@media(max-width: 764px) {
    .main__film_item:nth-of-type(3) {
        margin-top: 15px;
    }
    .header__content_img, .main__series_img {
        height: max-content;
    }
}
@media(max-width: 699px) {
    .main__collection_card:nth-of-type(2) {
        margin-top: 15px;
    }
    .main__videoblock {
        display: flex;
        flex-direction: column;
    }
    .main__videoblock_content {
        position: static;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .main__videoblock_video {
        order: 1;
    }
    .main__series_item:nth-of-type(1) {
        grid-column: span 2;
    }
    .header__content_title {
        font-size: 50px;
    }
    .header__content_description {
        max-width: 520px;
    }
    .footer__info_text {
        margin-top: 10px;
    }
}
@media(max-width: 628px) {
    .footer__info {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media(max-width: 500px) {
    .header__nav-content {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 15px;
    }
    .header__content_title {
        font-size: 45px;
        line-height: 40px;
    }
    .main__videoblock_img {
        width: 100%;
    }
    .main__films_item:nth-of-type(2) {
        margin-top: 15px;
    }
    .header__content_description, .header__content_buttons {
        padding-right: 10px;
    }
}
@media(max-width: 357px) {
    .main__series_item:nth-of-type(1) .main__series_title {
        font-size: 35px;
    }
    .main__series_item:nth-of-type(1) .main__series_description {
        line-height: 20px;
    }
    .footer__info_text {
        text-align: center;
    }
    .header__nav_list{
        flex-wrap: wrap;
        justify-content: center;
    }
    .main__collection_img {
        width: 100%;
    }
    .main__series_title {
        font-size: 20px;
    }
}