@import 'fonts.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}
html {
    scroll-behavior: smooth;
}
:root {
    --CR: 'Comforta-Regular';
    --CB: 'Comforta-Bold';
    --MB: 'Mostserrat-Bold';
    --MR: 'Mostserrat-Regular';
    --RM: 'Roboto-Medium';
    --RR: 'Roboto-Regular'; 
    --white: #fff;
    --black: #000;
    --orange: #F18128;
    --b-radius: 6px;
}
.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}
body {
    background: #040D1F;
}
/* HEADER START */
.header_prenav {
    background:  linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.header__prenav_icon {
    color: var(--white);
    font-size: 50px;
}
.header__nav_link {
    display: flex;
    align-items: center;
}
.header__prenav_text {
    color: var(--white);
    font-size: 16px;
    line-height: 18px;
    font-family: var(--CR);
    margin-left: 24px;
    width: 166px; 
}
.header__nav {
    background:rgba(1, 3, 5, 0.8);
    backdrop-filter: blur(15px);
}
.header__nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav_list {
    display: flex;
}
.header__nav_logo {
    color: var(--white);
    font-size: 18px;
    line-height: 20px;
    font-family: var(--CB);
}
.header__nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
    font-family: var(--MR);
    margin-left: 30px;
    transition: 0.5s;
    height: 84px;
    position: relative;
}
.header__nav-link:hover {
    color: #ED8E00;
}
.header__nav-link::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    background: #ED8E00;
    border-radius: 23px 23px 0px 0px;
    position: absolute;
    bottom: 0;
    transition: 0.5s;
}
.header__nav-link:hover::after {
    width: 100%;
}
.header__content_img {
    width: 100%;
}
.header__content_info {
    background: rgba(7, 15, 25, 0.75);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.header__content {
    position: relative;
}
.header__content_title {
    font-family: var(--MB);
    color: var(--white);
    font-size: 64px;
    line-height: 78px
}
.header__content_description {
    font-family: var(--MR);
    font-size: 16px;
    line-height: 24px;
    color: #C8C8C8;
    max-width: 570px;
    width: 100%;
    margin: 30px 0 50px 0;
    text-align: justify;
}
.header__content_btn {
    display: flex;
    background: var(--orange);
    width: 166px;
    border-radius: 4px;
    padding: 17px 0;
    justify-content: center;
    color: var(--black);
    font-size: 14px;
    line-height: 12px;
    font-family: var(--RM);
    transition: 0.5s;
}
.header__content_buttons {
    display: flex;
}
.header__content_btn:nth-of-type(1) {
    margin-right: 30px;
}
.header__content_btn:hover {
    background:#040D1F;
    color: var(--white);
}
/* HEADER END */
/* MAIN START */
.main {
    padding: 60px 0 63px;
}
.main__title {
    color: var(--orange);
    font-family: var(--CR);
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 55px;
    width: max-content;
}
.main__title::after {
    content: "";
    display: block;
    background: var(--orange);
    width: 100%;
    height: 2px;
    margin-top: 10px;
}
.main__film_icon {
    margin-top: 63px;
    color: #FFFFFF;
    font-size: 40px;
    transition: 0.5s;
    cursor: pointer;
}
.main__film_icon:hover {
    transform: scale(1.2);
}
.main__film_time {
    color: var(--white);
    font-size: 14px;
    line-height: 10px;
    font-family: var(--MR);
    margin: 12px 0 31px;
    border: 1px solid #FFFFFF;
    border-radius: 9px;
    padding: 7px 0;
    width: 100px;
    text-align: center;
}
.main__film_title {
    color: var(--white);
    font-family: var(--MR);
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 12px;
}
.main__film_description {
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
    font-family: var(--RR);
    max-width: 226.02px;
    width: 100%;
    margin-bottom: 18px;
}
.main__film_content {
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
    border-radius: 6px;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__film_item {
    position: relative;
    max-width: 255px;
    width: 100%;
    height: 100%;
}
.main__films_items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 78px;
}
.main__videoblock {
    position: relative;
    margin-bottom: 31px;
}
.main__videoblock_content {
    position: absolute;
    top: 0;
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.main__videoblock_video {
    display: block;
    margin-left: auto;
    width: 50%;
}
.main__videoblock_description {
    font-size: 18px;
    line-height: 27px;
    font-family: var(--RR);
    text-align: justify;
    max-width: 558px;
    width: 100%;
    margin: 51px 0 55px;
}
.main__videoblock_btn {
    display: flex;
    background: var(--orange);
    width: 166px;
    border-radius: 4px;
    padding: 17px 0;
    justify-content: center;
    color: var(--black);
    font-size: 14px;
    line-height: 12px;
    font-family: var(--RM);
    transition: 0.5s;
}
.main__videoblock_btn:hover {
    background:#040D1F;
    color: var(--white);
}
.main__videoblock_btn{
    
    display: flex;
    background: var(--orange);
    width: 166px;
    border-radius: 4px;
    padding: 17px 0;
    justify-content: center;
    color: var(--black);
    font-size: 14px;
    line-height: 12px;
    font-family: var(--RM);
    transition: 0.5s;
}
.main__collection_card {
    max-width: 350px;
    width: 100%;
    position: relative;
}
.main__collection_card:hover .main__collections_content::before  {
    transform: scale(1.6) translate(-150%)
}
.main__collection_card:hover .main__collections_content::after {
    transform: scale(1.6) translate(150%)
}
.main__collections_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 194px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
    border-radius: 6px;
    overflow: hidden;
}
.main__collections_content::before {
    content: '';
    display: block;
    background: url('../images/boxes.png');
    width: 20px;
    height: 100%;
    position: absolute;
    left: 7px;
    top: 8px;
    background-repeat: no-repeat;
    transition: 0.5s;
}
.main__collections_content::after {
    content: '';
    display: block;
    background: url('../images/boxes.png');
    width: 20px;
    height: 100%;
    position: absolute;
    right: 7px;
    top: 8px;
    background-repeat: no-repeat;
    transition: 0.5s;
}
.main__collections_title {
    font-size: 20px;
    line-height: 22px;
    color: var(--white);
    font-family: var(--CB);
    margin-top: 16px;
}
.a {
    margin-top: 0;
}
.main__collections_cards {
    display: flex;
    justify-content: space-between;
}
.main__series {
    margin: 63px 0 66px;
}
.main__series_item {
    position: relative;
}
.main__series_content {
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%);
    border-radius: 6px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__series_img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
.main__series_title {
    color: var(--white);
    font-size: 24px;
    line-height: 27px;
    font-family: var(--CB);
}
.main__series_description {
    font-size: 16px;
    line-height: 24px;
    font-family: var(--CR);
    color: var(--white);
    margin: 27px 0 30px;
    text-align: center;
    max-width: 1069px;
    width: 100%;
    display: none;
}
.main__series_btn {
    display: none;
    background: var(--orange);
    width: 166px;
    border-radius: 4px;
    padding: 17px 0;
    justify-content: center;
    align-items: center;
    color: var(--black);
    font-size: 14px;
    line-height: 12px;
    font-family: var(--RM);
    transition: 0.5s
}
.main__series_btn:hover {
    background:#040D1F;
    color: var(--white);
}
.main__series_item:nth-of-type(1) .main__series_icon {
    display: none;
}
.main__series_item:nth-of-type(1) .main__series_description{
    display: block;
}
.main__series_item:nth-of-type(1) .main__series_btn{
    display: flex;
}
.main__series_item:nth-of-type(1) .main__series_title {
    font-size: 40px;
    line-height: 45px;
}
.main__series_icon {
    margin-bottom: 30px;
}
.main__series_items {
    display: grid;
    gap: 30px;
}
.main__series_item:nth-of-type(1) {
    grid-column: span 4;
}
.main__series_item:nth-of-type(2) {
    grid-column: span 2;
    grid-row: span 2;
}
.b {
    margin-top: 0;
}
/* MAIN END */
/* FOOTER START */
.footer {
    background: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    padding: 25px 0;
}
.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__info_link:nth-of-type(1) {
    margin-right: 50px;
}
.footer__info_text {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: var(--white);
    font-family: var(--CB);
}
/* FOOTER END */
::-webkit-scrollbar {
    width: 10px;
    background: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    border-radius: 30px;
}